<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductList.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="main-nav">
            <div class="nav-element">
                <a asp-page="Index">
                    <div class="nav-logo">
                    </div>
                </a>
            </div>
            <div class="nav-element">
                <div class="nav-area">
                    <a href="#"><i class="bi bi-geo-alt-fill"></i>Select your delivery location</a>
                </div>
            </div>

            <div class="nav-search-box">
                <input type="text" name="search-bar" class="search-bar" id="" placeholder="Search your product">
                <button class="search-btn"><i class="bi bi-search"></i></button>
            </div>

            <div class="nav-element">
                <a href="#">
                    <div class="download-app-img">
                    </div>
                </a>
            </div>
            <div class="nav-element">
                <div class="language">
                    <p>English</p>
                </div>
            </div>
            <div class="nav-element">
                <div class="sign-up">
                    <a asp-page="Admin" asp-route-admin-auth="mojahidaltarif78@gmail.com"><i
                            class="bi bi-person-fill"></i>Sign in / Sign up</a>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="left-bottom">
                <i class="fa-solid fa-bars"></i> SHOP BY CATEGORY
            </div>
            <div class="middle-bottom">
                <a href="#">GREAT DEALS</a>
                <a href="#">OUR BRANDS</a>
                <a href="#">BUY & SAVE MORE</a>
            </div>
            <div class="right-bottom">
                <a href="#"><i class="fa-solid fa-shop"></i>Our outlet</a>
                <a href="#"><i class="fa-regular fa-circle-question"></i>Help line</a>
            </div>
    </header>
    <main>
        <div class="main-body">
            <div class="left-nav">
                <a asp-page="Privacy" class="user"><img src="https://cdn-icons-png.flaticon.com/128/4689/4689710.png"
                        alt="">Fruits &
                    Vegetables</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/3363/3363608.png" alt="">Meat
                    & Fish</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/10171/10171394.png"
                        alt="">Drinks</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/2515/2515210.png"
                        alt="">Snacks</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/2575/2575920.png" alt="">Candy
                    &
                    Chocolate</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/3050/3050113.png"
                        alt="">Dairy</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/3205/3205153.png"
                        alt="">Sauces &
                    Pickles</a>
                <a href="#" class="user"><img src="https://cdn-icons-png.flaticon.com/128/1261/1261052.png"
                        alt="">Cooking</a>
                <a asp-page="Admin" class="admin1" asp-route-admin-auth="mojahidaltarif78@gmail.com"
                    asp-route-product="add"><i class="fa-solid fa-plus"></i> Add Product</a>
                <a asp-page="ProductList" class="admin2" asp-route-admin-auth="mojahidaltarif78@gmail.com"
                    asp-route-product="list"><i class="fa-solid fa-list"></i>Product List</a>
            </div>
            <div class="main-section">
                @RenderBody()
            </div>
        </div>

    </main>
    <footer>
        <div class="footer-up">
            <div class="f-up-left">
                <div class="f-up-left-img"></div>
            </div>
            <div class="f-up-right">
                <div class="f-up-r-table">
                    <p style="margin: 0;">Swapno Coverage Area</p>
                    <table class="r-table">
                        <tr class="tbg-o">
                            <th scope="row">Dhaka</th>
                            <th scope="row" class="tm">-</th>
                            <td>188 outlets</td>
                            <th scope="row">Sylhet</th>
                            <th scope="row" class="tm">-</th>
                            <td>6 outlets</td>

                        </tr>
                        <tr class="tbg-e">
                            <th scope="row">Chattogram</th>
                            <th scope="row" class="tm">-</th>
                            <td>15 outlets</td>
                            <th scope="row">Khulna</th>
                            <th scope="row" class="tm">-</th>
                            <td>12 outlets</td>

                        </tr>
                        <tr class="tbg-o">
                            <th scope="row">Cumilla</th>
                            <th scope="row" class="tm">-</th>
                            <td>9 outlets</td>
                            <th scope="row">Gazipur</th>
                            <th scope="row" class="tm">-</th>
                            <td>38 outlets</td>
                        </tr>
                        <tr class="tbg-e">
                            <th scope="row">Manikganj</th>
                            <th scope="row" class="tm">-</th>
                            <td>1 outlets</td>
                            <th scope="row">Barishal</th>
                            <th scope="row" class="tm">-</th>
                            <td>10 outlets</td>
                        </tr>
                    </table>
                </div>
                <div class="f-up-r-img">

                </div>

            </div>

        </div>
        <div class="footer-main">
            <div class="fm1">
                <div class="fm1-img"></div>
                <div class="fmh">Always Here for You</div>
                <div class="fm1b">Call Us: 16469 (9am-9pm, Everyday)</div>
                <div class="fm1b">Email Us: queries@acilogistics.net</div>
            </div>
            <div class="fm2">
                <p class="fmh">Information</p>
                <a href="#">Office Address</a>
                <a href="#">Shipping & returns</a>
                <a href="#">About us</a>
                <a href="#">Terms & Condition</a>
            </div>
            <div class="fm3">
                <p class="fmh">Information</p>
                <a href="">Contact Us</a>
            </div>
            <div class="fm4">
                <p class="fmh">My Account</p>
            </div>
            <div class="fm4">
                <p class="fmh">Pay With</p>
                <div class="fm4-img"></div>
                <p class="fmh">Follow Us</p>
                <div class="social">
                    <a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-down">
            <div>Copyright &copy; 2024</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>

    const urls = new URLSearchParams(window.location.search);
    const admin_auth = urls.get('admin-auth');
    const product = urls.get('product');

    if (admin_auth == null) {
        document.querySelectorAll(".user").forEach((element) => {

            element.style.display = 'block';
        });
        document.querySelectorAll(".admin").forEach(element => {
            element.style.display = 'none';
        });
        document.querySelector(".search-bar").readOnly = false;
        document.querySelector(".search-btn").disabled = false;

    }
    else {
        document.querySelectorAll(".user").forEach((element) => {

            element.style.display = 'none';
        });
        document.querySelectorAll(".footer-up, .footer-main").forEach(element => {
            element.style.display = 'none';
        });
        document.querySelectorAll(".admin").forEach(element => {
            element.style.display = 'block';
        });
        document.querySelector(".search-bar").readOnly = true;
        document.querySelector(".search-btn").disabled = true;
        if (product == "add") {
            document.querySelector(".admin1").style.backgroundColor = 'red';
            document.querySelector(".admin1").style.color = 'white';
            document.querySelector(".admin2").style.backgroundColor = 'white';
            document.querySelector(".admin2").style.color = 'red';
            @* document.querySelector(".admin2").addEventListener('mouseenter'()=> {
                document.querySelector(".admin2").style.backgroundColor = 'red';
                document.querySelector(".admin2").style.color = 'white';
            });
            document.querySelector(".admin2").addEventListener('mouseleave'()=> {
                document.querySelector(".admin2").style.backgroundColor = 'white';
                document.querySelector(".admin2").style.color = 'red';
            }); *@
        }
        else {
            document.querySelector(".admin1").style.backgroundColor = 'white';
            document.querySelector(".admin1").style.color = 'red';
            document.querySelector(".admin2").style.backgroundColor = 'red';
            document.querySelector(".admin2").style.color = 'white';

            @* document.querySelector(".admin2").addEventListener('mouseenter'()=> {
                document.querySelector(".admin1").style.backgroundColor = 'red';
                document.querySelector(".admin1").style.color = 'white';
            });
            document.querySelector(".admin2").addEventListener('mouseleave'()=> {
                document.querySelector(".admin1").style.backgroundColor = 'white';
                document.querySelector(".admin1").style.color = 'red';
            }); *@
        }


    }
</script>

</html>
