@page
@model OnlineShop.Pages.Admin
@{
    ViewData["Title"] = "Admin";
}

<div class="Admin-main">
    <div class="Add-Item">
        <form action="" method="post">
            <p>Add Item</p>
            <div class="item-category">
                <label for="category">Category</label>
                <select name="category" id="category" class="item-box">
                    <option value="Fruits">Fruits & Vegetables</option>
                    <option value="Meat">Meat & Fish</option>
                    <option value="Drinks">Drinks</option>
                    <option value="Snacks">Snacks</option>
                    <option value="Candy">Candy & Chocolate</option>
                    <option value="Dairy">Dairy</option>
                    <option value="Sauces">Sauces & Pickles</option>
                    <option value="Cooking">Cooking</option>
                </select>
            </div>
            <div class="item-category">
                <label for="productName">Product Name</label>
                <textarea name="" id="productName" class="item-box" placeholder="Enter Product Name" rows="1"></textarea>
            </div>
            <div class="item-p-u">
                <div class="item-category">
                    <label for="price">Price</label>
                    <input type="number" name="" placeholder="Enter Price" class="item-box1" id="price">
                </div>
                <div class="item-category">
                    <label for="unit">Unit</label>
                    <input type="text" name="" placeholder="Enter Unit" class="item-box1" id="unit">
                </div>
            </div>
            <div class="item-category">
                <label for="fileImage">Upload an image:</label>
                <input type="file" id="fileImage" name="image" class="item-box" accept="image/*">
            </div>
            <button class="add-item-btn"><i class="fa-solid fa-plus"></i>Add Item</button>
        </form>
    </div>

</div>